/* -------------------- */
/* Modern Normalize + Temel Ayarlar */
/* -------------------- */
img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* -------------------- */
/* Header */
/* -------------------- */
.main-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo-link {
    margin-right: 76px;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-item {
    padding: 24px 0;
}

/* -------------------- */
/* Second Section - Services */
/* -------------------- */
.services-section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.services-list {
    display: flex;
    gap: 24px;
}

.service-item {
    width: calc((100% - 72px)/4);
}

.service-title {
    margin-bottom: 8px;
}

/* -------------------- */
/* Third Section - Team */
/* -------------------- */
.team-section {
    padding: 120px 0;
}

.team-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-member {
    width: calc((100% - 72px)/4);
    border-radius: 0 0 4px 4px;
}

.member-card {
    padding: 32px 0;
}

.member-name {
    text-align: center;
    margin-bottom: 8px;
}

.member-role {
    text-align: center;
}

/* -------------------- */
/* Fourth Section - Portfolio */
/* -------------------- */
.portfolio-section {
    padding: 120px 0;
}

.portfolio-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 72px)/4);
}

.portfolio-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

/* -------------------- */
/* Footer */
/* -------------------- */
.main-footer {
    padding: 100px 0;
}

.main-footer a {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text {
    max-width: 264px;
}