/* ===== NORMALIZATION ===== */
img {
    display: block;
}

/* ===== CONTAINER ===== */
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ===== HEADER ===== */
.header-box {
    border-bottom: 1px solid #e7e9fc;
}

.header-box .flex-container {
    display: flex;
}

/* NAVIGATION */
.nav-bar {
    display: flex;
    align-items: center;
}

.nav-bar .logo-link {
    margin-right: 76px;
}

.nav-bar .nav-list {
    display: flex;
    gap: 40px;
}

.nav-bar .contact-list {
    display: flex;
    gap: 40px;
}

/* ===== HERO SECTION ===== */
.hero-section {
    padding: 188px 0;
}

.hero-section .hero-container h1 {
    max-width: 496px;
}

.hero-section .hero-button {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    cursor: pointer;
}

/* ===== WHITE SECTION ===== */
.white-section {
    padding: 120px 0;
}

.white-section .container ul {
    display: flex;
    gap: 24px;
}

.white-section li {
    width: calc((100% - 72px) / 4);
}

/* ===== TEAM SECTION ===== */
.team-section {
    padding: 120px 0;
}

.team-section h2 {
    margin-bottom: 72px;
}

.team-section ul {
    display: flex;
    gap: 24px;
}

.team-section li {
    width: calc((100% - 72px) / 4);
}

.team-section li .member-info {
    padding: 32px 0;
}

.team-section li h3 {
    text-align: center;
    margin-bottom: 8px;
}

.team-section li p {
    text-align: center;
}

/* ===== PORTFOLIO SECTION ===== */
.portfolio-section {
    padding: 120px 0;
}

.portfolio-section h2 {
    margin-bottom: 72px;
}

.portfolio-section ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-section li {
    width: calc((100% - 72px) / 4);
}

.portfolio-section li .portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

/* ===== FOOTER ===== */
.footer-box {
    padding: 100px 0;
}

.footer-box .container a {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-box .container p {
    max-width: 264px;
}

/* ===== ADDITIONAL STYLING ===== */
button,
a {
    cursor: pointer;
}